﻿@model Entities.Nvc
@{
    ViewBag.Title = "Home Page";
}


<div class="image-container set-full-height" >

    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="red" id="wizard">
                        <form action="">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
                                @Html.AntiForgeryToken()
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            Create Application
                                        </h3>

                                    </div>
                                    <div class="wizard-navigation">
                                        <ul>
                                            <li><a href="#details" data-toggle="tab">General Info</a></li>
                                            <li><a href="#captain" data-toggle="tab">Extra Info</a></li>
                                            <li><a href="#description" data-toggle="tab">Old Student Info</a></li>
                                            <li><a href="#newStudent" data-toggle="tab">New Student Info</a></li>
                                            <li><a href="#emergencyContact" data-toggle="tab">Emergency Contact Information</a></li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane" id="details">
                                            <div class="row">
                                                @*First Column*@
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Registration No</label>
                                                            @Html.EditorFor(model=>model.RegistrationNo,new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Old Student?</label>
                                                            @Html.DropDownListFor(model => model.isOldStudent, new SelectList(Model.yesno, "Value", "Text"), "", new { @class = "form-control" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Monk</label>
                                                            @Html.DropDownListFor(model => model.isMonk, new SelectList(Model.yesno, "Value", "Text"), "", new {@class="form-control" })

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">First Name</label>
                                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new {@class= "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Address</label>
                                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Profession</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Home Phone</label>
                                                            @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Age</label>
                                                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Date of Birth (mm/dd/yy)</label>
                                                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Married</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                @* Second Column*@
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Course No</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Category to Center?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">*</label>
                                                            <input name="name" type="text" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Middle Name</label>
                                                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">District</label>
                                                            <select class="form-control">
                                                                <option disabled="" selected=""></option>
                                                                <option value="Afghanistan"> Afghanistan </option>
                                                                <option value="Albania"> Albania </option>
                                                                <option value="Algeria"> Algeria </option>
                                                                <option value="American Samoa"> American Samoa </option>
                                                                <option value="Andorra"> Andorra </option>
                                                                <option value="Angola"> Angola </option>
                                                                <option value="Anguilla"> Anguilla </option>
                                                                <option value="Antarctica"> Antarctica </option>
                                                                <option value="...">...</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Education</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Office Phone</label>
                                                            @Html.EditorFor(model => model.OfficePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Gender</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Male</option>
                                                                <option value="0">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Nepali Date of Birth </label>
                                                            @Html.EditorFor(model => model.NeapliDOB, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Father's/Husband's/Wife's Name </label>
                                                            @Html.EditorFor(model => model.GuardianName, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>


                                                </div>

                                                @*Thrid Column*@
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Applicaton No</label>
                                                            @Html.EditorFor(model => model.ApplicationNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Foreigner</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Male</option>
                                                                <option value="0">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">*</label>
                                                            <input name="name" type="text" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Last Name</label>
                                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Country</label>
                                                            <select class="form-control">
                                                                <option disabled="" selected=""></option>
                                                                <option value="Afghanistan"> Afghanistan </option>
                                                                <option value="Albania"> Albania </option>
                                                                <option value="Algeria"> Algeria </option>
                                                                <option value="American Samoa"> American Samoa </option>
                                                                <option value="Andorra"> Andorra </option>
                                                                <option value="Angola"> Angola </option>
                                                                <option value="Anguilla"> Anguilla </option>
                                                                <option value="Antarctica"> Antarctica </option>
                                                                <option value="...">...</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">*</label>
                                                            <input name="name" type="text" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Mobile Phone</label>
                                                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">*</label>
                                                            <input name="name" type="text" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Email</label>
                                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Application Cancelled</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @* End of General Info *@


                                        @* Extra Info *@
                                        <div class="tab-pane" id="captain">
                                            <div class="row">
                                                @* First Column *@
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Any realtive or Friend Attending</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">English?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Newari?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Any Physical or Mental Disease Now or in the Past?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Details of Medication</label>
                                                            @Html.EditorFor(model => model.Medication, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Are you now taking, or have you taken within the past two years, any alcohol or drugs ?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Details Of Drug Use</label>
                                                            @Html.EditorFor(model => model.DrugUseDetails, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                </div>

                                                @* Second Column *@
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Hindi?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Nepali?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Any Other Language?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Physical or Mental Disease Details</label>
                                                            @Html.EditorFor(model => model.PhysicalOrMentalDisease, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Are you ready to forgo any rites or rituals practised, during the course?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Can you quit smoking,alcohol or drugs during the course period?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                        @*End Extra Info*@

                                        @*Old Student info*@
                                        <div class="tab-pane" id="description">
                                            <div class="row">
                                                @*First Column*@
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">First Course Date</label>
                                                            @Html.EditorFor(model => model.FirstCourseDate, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Last Course Date</label>
                                                            @Html.EditorFor(model => model.LastCourseDate, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Have you practiced any other meditation techniques (including other types of Vipassana), therapies or healing techniques since your last course with S.N. Goenka or his assistant teachers?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">10day(other)</label>
                                                            @Html.EditorFor(model => model._10DayOther, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Special 10 day</label>
                                                            @Html.EditorFor(model => model.Special10Day, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">45/60 day</label>
                                                            @Html.EditorFor(model => model._4560Day, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Continuity of Daily Pratice?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">If need be,Can You Serve in the Course?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Partial Student Start Date?</label>
                                                            @Html.EditorFor(model => model.PartialStudentStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                </div>

                                                @* SEcond Column*@
                                                <div class="col-sm-4">

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">First Course Location</label>
                                                            @Html.EditorFor(model => model.FirstCourseLocation, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Last Course Location</label>
                                                            @Html.EditorFor(model => model.LastCourseLocation, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Details of therapies or headling techniques since your last course iwth S.N. Goenka or his assistnat teachers?</label>
                                                            @Html.EditorFor(model => model.PrevTherapyDetails, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Satipathan</label>
                                                            @Html.EditorFor(model => model.Satipathan, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">20day</label>
                                                            @Html.EditorFor(model => model._20Day, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">TSC</label>
                                                            @Html.EditorFor(model => model.TSC, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">How Many Hours of Daily Meditation</label>
                                                            @Html.EditorFor(model => model.DailyMedicationDuration, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Partial Service Start Date?</label>
                                                            @Html.EditorFor(model => model.PartialServiceStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Partial Student End Date?</label>
                                                            @Html.EditorFor(model => model.PartialStudentEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                </div>

                                                @*Third Column*@
                                                <div class="col-sm-4">

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Frist Course Teacher Name</label>
                                                            @Html.EditorFor(model => model.FirstCourseTeacherName, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Last Course Teacher Name</label>
                                                            @Html.EditorFor(model => model.LastCourseTeacherName, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">10 day(with Goenkaji)</label>
                                                            @Html.EditorFor(model => model._10DayWithGoenkaji, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">*</label>
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">30day</label>
                                                            @Html.EditorFor(model => model._30Day, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">No. of Courses Served</label>
                                                            @Html.EditorFor(model => model.NumberOfCoursesServed, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Can You Come Early to Volunteer in R-Day?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Partial Service End Date</label>
                                                            @Html.EditorFor(model => model.PartialServiceEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Personal Summary1</label>
                                                            @Html.EditorFor(model => model.PersonalSummary1, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        @*End Student Info*@

                                        @* New Student Info *@
                                        <div class="tab-pane" id="newStudent">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Any Past Experience?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Referer's Name</label>
                                                            @Html.EditorFor(model => model.RefererName, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Referer's Latest Course</label>
                                                            @Html.EditorFor(model => model.RefererLatestCourse, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Reference Date</label>
                                                            @Html.EditorFor(model => model.ReferenceDate, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Can You Abide by the Time Table,Rules And Regulations of the Course?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Personal Summary</label>
                                                            @Html.EditorFor(model => model.PersonalSummary2, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                </div>

                                                @* Second Column *@
                                                <div class="col-sm-4">

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Details of Past Experience in Other forms of Meditation/Energy Healing</label>
                                                            @Html.EditorFor(model => model.PrevPracticeDetailInFormOFMedication, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Referer's Address</label>
                                                            @Html.EditorFor(model => model.RefererAddress, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Referer's Latest Course Date</label>
                                                            @Html.EditorFor(model => model.RefererLatestCourseDate, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Have you read the Code of Coduct?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Staying inside the center during the entire course is imperative, Do you agree?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                @* Third Column *@
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">How did you come to know about Vipasana Meditation?</label>
                                                            @Html.EditorFor(model => model.KnowAboutVipasanaMedication, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Referer's Contact Number</label>
                                                            @Html.EditorFor(model => model.RefererPhone, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Referer's Latest Course</label>
                                                            @Html.EditorFor(model => model.RefererLatestCourse, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Do You Understand The Code of Conduct?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Can you maintain noble silence?</label>
                                                            <select class="form-control">
                                                                <option value="" disabled selected></option>
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        @*New Student Info*@

                                        @* Emergency Contact Info*@
                                        <div class="tab-pane" id="emergencyContact">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Name</label>
                                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Address</label>
                                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Relation</label>
                                                            @Html.EditorFor(model => model.Relation, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Phone</label>
                                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @* End Emergency Contact Info *@
                                    </div>
                                    <div class="wizard-footer">
                                        <div class="pull-right">
                                            <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next' />
                                            <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
                                        </div>
                                        <div class="pull-left">
                                            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                            }
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div> <!-- row -->
    </div> <!--  big container -->

    <div class="footer">
        <div class="container text-center">
            Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/material-bootstrap-wizard">here.</a>
        </div>
    </div>
</div>